<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
    <div id="app">
        <table class="table">
            <th>No.</th><th>ISBN</th><th>書名</th><th>価格</th>
            <tr v-for="(b, i) in books">
                <td>{{ i + 1 }}</td>
                <td>{{ b.isbn }}</td>
                <td>{{ b.title }}</td>
                <td>{{ b.price }}円</td>
            </tr>
        </table>
        <div>
            <ul v-for="(value, key, i) in book">
                <li>{{ key }}：{{ value }}</li>
            </ul>
        </div>
        <div>
            <span v-for="i in 5">{{ i * 2 }}</span>
        </div>
        
        <table class="table">
            <th>No.</th><th>ISBN</th><th>書名</th><th>価格</th>
            <tr v-for="(b, i) in expensiveBooks">
                <td>{{ i + 1 }}</td>
                <td>{{ b.isbn }}</td>
                <td>{{ b.title }}</td>
                <td>{{ b.price }}円</td>
            </tr>
        </table>

        <div>
            <template v-for="s in songs">
                <header>{{ s.title }}</header>
                <div>{{ s.lyrics }}</div>
                <footer>{{ s.composer }}作曲</footer>
            </template>
        </div>
        <div>
            <form>
                <input type="button" value="変更" @click="onclick"/>
            </form>
            <ul>
                <li v-for="item in list">{{ item }}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>window.Vue ||document.write('<script src="../lib/vue.js"><\/script>');</script>
    <script src="js/for.js"></script>
</body>
</html>